page-trainroute {
ion-header{
	font: oblique;
	font-family: 'Didot-Italic';
	font-style: italic;
	 
    }
h3{
    color:#4652DB;
    font-weight:400;
    font-style:italic;
    text-align:center;
}
#content {
	background:
		url("https://us.123rf.com/450wm/notkoo2008/notkoo20081506/notkoo2008150607466/41014807-transportation-train--cartoon-seamless-pattern-background.jpg?ver=6");
	font: oblique;
	font-size:20px;
	font-family: 'Didot-Italic';
	font-style: italic;
	color: #338AFF;
}
select{
	width:100%;
	height:29px;
    border: none;
    border-radius: 4px;
    
}
button{
	background-color: #FACCA9;
	width: 300px;
 	height: 39px;
	 font-size:20px;
	 opacity: 0.9;
}
}
